@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

.dashboard-container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    padding: 12px;
    background-color: #407BFF;
}

.logout-icon {
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    background-color: #fff;
}

.sidebar-budget-it {
    margin: 0;
}

.dashboard-content {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logout-btn-wrapper {
    display: none;
    padding: 12px;
    position: absolute;
    top: 74px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .logout-btn {
        color: #fff;
        border-radius: 32px;
        background-color: #407BFF;
        padding: 12px;
    }
}

.show {
    display: block;
}

.dashboard-wrapper {
    padding: 22px;
    background-color: #f9f7f9;

    .dashboard-user-name {
        margin: 0;
    }
}

.dashboard-activity-container {
    padding: 12px 0;
}

.dashboard-activity-wrapper {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 12px;
    padding: 12px 0;
}

.activity-card {
    padding: 12px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.activity-money-wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.overview-activity {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}

.overview-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-transaction {
    padding: 12px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dashboard-username {
    text-transform: capitalize;
}